---
import type { JobDetails } from '../types';
interface Props {
  jobDetails: JobDetails;
}
const { jobDetails } = Astro.props;
const { jobTitle, jobTitleSecondary, employer, employmentType, achievements, tenure, employerWebsite } = jobDetails;
---

<div class='experience-content'>
  <div class='experience-left heading-container'>
    <h4>{tenure}</h4>
    <p class='italic-subheading'>{employmentType}</p>
  </div>
  <div class='experience-right'>
    <div class='heading-container'>
      <h4>
        {jobTitle} - {
          employerWebsite ? (
            <a href={employerWebsite} target='_blank'>
              {employer}
            </a>
          ) : (
            employer
          )
        }
      </h4>
      {jobTitleSecondary ? <p class='italic-subheading'>{jobTitleSecondary}</p> : null}
    </div>
    <div class='heading-container-mobile'>
      <div class='space-between'>
        <h4>
          {
            employerWebsite ? (
              <a href={employerWebsite} target='_blank'>
                {employer}
              </a>
            ) : (
              employer
            )
          }
        </h4>
        <h4>{tenure}</h4>
      </div>
      <div class='space-between'>
        <p class='italic-subheading'>{jobTitle}{jobTitleSecondary ? ' - ' + jobTitleSecondary : null}</p>
        <p class='italic-subheading align-right'>{employmentType}</p>
      </div>
    </div>
    <ul>
      {
        achievements.map((achievement) => {
          return <li>{achievement}</li>;
        })
      }
    </ul>
  </div>
</div>

<style>
  .experience-content {
    display: flex;
    gap: 1.25rem;
    padding: 0 0.625rem;
  }

  .heading-container {
    display: none;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: 1025px) {
      display: flex;
    }
  }

  .heading-container-mobile {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 100%;
    @media (min-width: 1025px) {
      display: none;
    }
  }

  .space-between {
    width: 100%;
    display: flex;
    justify-content: space-between;

    h4, a {
      font-size: 1.15rem;
      @media (min-width: 1025px) {
        font-size: inherit;
      }
    }
  }

  .align-right {
    text-align: right;
  }

  .experience-left {
    min-width: 200px;
  }

  .experience-right {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
  }

  .italic-subheading {
    margin: 0;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.1rem;
    @media (min-width: 1025px) {
      font-size: 1rem;
    }
  }
</style>
