---
import type { ProjectDetails } from '../types';
import Chip from './Chip.astro';
interface Props {
  project: ProjectDetails;
}
const { project } = Astro.props;
const { projectTitle, projectLink, projectImagePath, repositoryLinks, details, skillsUsed } = project;
---

<article>
  <div class='project-left'>
    <img src={projectImagePath} class='project-image' alt=`${projectTitle} project screenshot` />
  </div>
  <div class='project-right'>
    <div class='heading-container'>
      {
        projectLink ? (
          <a href={projectLink} target='_blank' class='project-link project-title'>
            {projectTitle}
          </a>
        ) : (
          <h4 class='project-title'>{projectTitle}</h4>
        )
      }
      {
        repositoryLinks ? (
          <div class='repository-links'>
            {repositoryLinks.map(({ linkHref, linkTitle }) => (
              <a href={linkHref} target='_blank' class='project-link repo-link'>
                <img src='/img/svg-icons/github.svg' width='0.75em' height='0.75em' /> {linkTitle}
              </a>
            ))}
          </div>
        ) : null
      }
    </div>
    <div class='paragraph-stack'>
      {
        details.map((detail) => {
          return <p>{detail}</p>;
        })
      }
    </div>
    <div class="project-skills">
      {skillsUsed.map(skill => {
        return <Chip content={skill} />
      })}
    </div>
  </div>
</article>

<style>
  .project-link {
    display: flex;
    gap: 0.25em;
    align-items: center;
  }

  .project-title {
    font-size: 1.15em;
    @media (min-width: 64.0625em) {
      font-size: inherit;
    }
  }

  .project-image {
    width: 12.5em;
  }

  .repository-links {
    display: flex;
    flex-direction: column;
    gap: 0.25em;

    @media (min-width: 64.0625em) {
      flex-direction: column;
      gap: 0.25em;
    }
  }

  .repo-link {
    font-weight: 500;
  }

  article {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    padding: 0 0.625em;

    @media (min-width: 64.0625em) {
      flex-direction: row;
    }
  }

  .heading-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  .project-left {
    min-width: 12.5em;
  }

  .project-right {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 100%;
  }

  .project-skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;

    .chip {
      font-size: .9em;
      color: var(--primary-black);
      background-color: #fff;
      border: solid 0.0625em var(--primary-black);
    }
  }
</style>
